.service__container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    /* align-items: center; */
    justify-content: center;
}

.service__content{
    background-color: var(--color-bg-variant);
    border: 1px solid var(--color-pry-variant);
    border-radius: 0.8rem 0.8rem 2rem 2rem;
    transition: var(--transition);
}

.service__content:hover{
    background: var(--color-bg);
}

.service__head{
    text-align: center;
    background-color: var(--color-pry);
    border-radius: .8rem 0.8rem 2rem 2rem;
    padding: 1rem;
}

.service__list{
    padding: 1.5rem;
}

.service__list li{
    display: flex;
    gap: 1rem;
    margin-bottom: .9rem;
}

.service__list li p{
    font-size: 0.9rem;
}

/* media queries */

@media screen and (max-width:1024px){
    .service__container{
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media screen and (max-width:600px){
    .service__container{
        grid-template-columns: 1fr ;
    }
}