footer{
    background: var(--color-pry);
    padding: 2rem;
    padding-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    flex-direction: column;
    color: var(--color-bg);
    margin: 0 auto;
}
footer a {
    color: var(--color-bg);
    position: relative;
    padding: 3px 3px;
    font-weight: 600;
    transition: var(--transition);
}

footer a:hover{
    color: var(--color-bg);
    opacity: 0.8;
}

footer ul a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background: var(--color-bg);
    left: 0;
    bottom: 0;
    transition: var(--transition);
}

footer ul a:hover::after{
    width: 100%;
}

.footer__links{
    display: flex;
    align-items: center;
    gap: .8rem;
}

.footer__socials{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.footer__socials a{
    display: flex;
    color: var(--color-white);
    padding: 0.5rem;
    background: var(--color-bg);
    border: 1px solid var(--color-bg);
    border-radius: 1.5rem;
    transition: var(--transition);
}

.footer__socials a:hover{
    background: transparent;
    color: var(--color-bg);
    transform: translate(5px);
}

footer img {
    width: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 3px solid var(--color-bg);
}

/********Media Queries*********/

@media screen and (max-width:600px) {

    .footer__links{
        flex-direction: column;
    }
}