.portfolio__container{
   display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    overflow: hidden;
}

#portfolio{
    position: relative;
}

.portfolio__item{
    background: var(--color-bg-variant);
    /* padding: 1rem; */
    border-radius: 1.2rem;
    border: 5px solid white;
    transition: var(--transition);
    position: relative;
    transition: var(--transition);
    overflow: hidden;
}

.portfolio__item:hover .project__info{
    /* background-color: transparent; */
    border:4px solid transparent;
    right: 2.5%;
}

.portfolio__item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
}

.portfolio__item_content{
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    border-radius: 1rem;
}

.project__info{
    position: absolute;
    top: 2.5%;
    right: -100%;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 95%;
    height: 95%;
    background: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(.3rem);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
    color: white;
}

.portfolio__img{ 
    max-width: 800px;
    max-height: 800px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1.2rem;
} 

.portfolio__desc{
    padding-inline: 1rem;

}

.pLang__container{
    display: flex;
    gap: 1rem;
}

.pLang{
    /* display: flex; */
    border: 1px solid transparent;
    background: var(--color-pry);
    border-radius: 1rem;
    padding-inline: .5rem;
    margin-top: .8rem;
}

/* .portfolio__modal{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    background: rgba(0, 0, 0, 0.301);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: var(--transition);
    opacity: 0;
    visibility: hidden;
} */

.portfolio__modal_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-bg-variant);
    width: 400px;
    height: 95vh;
    position: relative;
    /* padding: .5rem; */
    border-radius: .9rem;
}

.modal__icon{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    display: flex;
    background-color: var(--color-pry);
    padding: .2rem;
    border-radius: 50%;
    font-size: 1rem;
    transition: var(--transition);
}

.active__modal{
    visibility: visible;
    opacity: 1;
}

.modal__icon:hover{
    color: white;
}

.portfolio__modal_img{
    border-radius: .9rem;
}

.portfolio__modal_content h3{
    background-color: var(--color-pry);
    padding: .5rem;
    line-height: 1.2;
}

.portfolio__modal_content p{
    padding: .5rem;
}

.portfolio__item p{
    margin: 1rem 0;
}

.portfolio__cta{
    display: flex;
    align-items: center;
    gap: .5rem;
}


/* Media Queries */

@media screen and (max-width:1024px) {
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (max-width:600px){
    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}