@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-pry:#4db5ff;
    --color-pry-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);

    --container-lg: 75%;
    --container-md: 86%;
    --container-sm: 90%;

    --transition: all 400ms ease;
}

html{
    scroll-behavior: smooth;
    transition: var(--transition);
}

::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'Poppins', sans-serif;    
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    transition: var(--transition);
}


.container{
    width: var(--container-lg);
    margin: 0 auto;
    max-width: 1920px;
}


section{
    width: 100%;
    margin-top: 4rem;
    padding-top: 2rem;
    transition: var(--transition);
}

section:nth-child(odd){
    background: var(--color-bg-variant);
    padding-bottom: 6rem;
}

section > h2{
    color: var(--color-pry);
    text-align: center;
    margin-bottom: 2rem;
}
section > h5{
    color: var(--color-light);
    text-align: center;
}

a{
    color: var(--color-pry);
    transition: var(--transition);
}

a:hover{
    color: var(--color-pry-variant);
}

.btn{
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--color-pry);
    transition: var(--transition);
    letter-spacing: 1.5px;
    font-weight: bold;
}

.btn:hover{
    background-color: var(--color-pry);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary{
    background-color: var(--color-pry) ;
    color: var(--color-bg);
}

.btn-primary:hover{
    background-color: var(--color-bg);
    color: var(--color-pry);
    border: 1px solid var(--color-pry);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.text-light{
    color: var(--color-light);
}

.pry-clr{
    color: var(--color-pry);
}


/****************median screen media queries ************/
@media screen and (max-width:1024px) {
    .container{
        width: var(--container-md);
    }

    section{
        margin-top: 6rem;
    }

    h1{
        font-size: 2rem;
    }


}

/*********** small screen Media query***********/
@media screen and (max-width:600px) {
    .container{
        width: var(--container-sm);
    }

    section > h2{
        margin-bottom: 2rem;
        text-align: center;
    }

    section{
        margin-top: 2rem;
    }

    h1{
        font-size: 2.4rem;
    }

    
    h2{
        font-size: 1.8rem;
    }

    
    h3{
        font-size: 1.4rem;
    }

    
    h4{
        font-size: 1rem;
    }

    .btn{
        padding: 0.6rem 1.5rem;
    }
}




@media screen and (max-width:280px) {
    section, .container{
        margin: auto;
        padding: auto;
    }
}