.experience__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin: 0;
}

.experience__frontend, .experience__backend{
    background: var(--color-bg-variant);
    padding: 2rem;
    border-radius: 2rem;
    width: 85%;
}

.experience__frontend > h3, .experience__backend > h3{
    text-align: center;
    color: var(--color-pry);
}

.experience__container h5{
    font-size: 1rem;
}

.exp__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    row-gap: 1.5rem;
    column-gap: 3rem;
    margin-top: 2rem;
}
.experience__skill{
    display: flex;
    gap: .5rem;
}

.exp__icons{
    margin-top: .15rem;
    color: var(--color-pry);
}

.skills h3{
    font-size: 1rem;
}

/* media query */

@media screen and (max-width:600px) {
    .experience__container{
        flex-direction: column;
    }
}

@media screen and (max-width:1024px) {
    .experience__container{
        flex-direction: column;
        margin: 0 auto;
    }
}