.contact__container{
    display: grid;
    grid-template-columns: 30% 60%;
    gap: 10%;
}

.contact__option{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    margin-bottom: 1.5rem;
    background: linear-gradient(to top, var(--color-bg), var(--color-light));
    padding: 1.5rem 0;
    border-radius: 2rem;
    transition: var(--transition);
}

.contact__me{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}

.contact__option:hover{
    transform: translateY(-5px);
}

.contact__option h4{
    color: var(--color-light);
}

.contact__icon{
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--color-bg);
}

.contact__btn{
    position: relative;
    font-weight: bold;
    color: var(--color-pry);
    margin-top: 0.4rem;
    transition: var(--transition);
    border-bottom: 1px solid ;
}

.contact__btn::after{
    content: '';
    height: 2px;
    width: 0;
    background: var(--color-pry );
    position: absolute;
    left: 0;
    bottom: 0;
    transition: var(--transition);
}

form button{
    background-color: transparent;
    color: var(--color-white);
}

.contact__btn:hover{
    color: var(--color-white);
    background: transparent;
}

.contact__btn:hover::after{
    width: 100%;
    background: var(--color-white);
}

.contact__form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

input, textarea{
    width: 100%;
    padding: 1rem 0;
    resize: none;
    border: none;
    border-bottom: 3px solid var(--color-bg-variant);
    background: transparent;
    font-size: 1rem;
    color: var(--color-text-dark);
    font-family: inherit;

    transition: var(--transition);
}

::placeholder{
    font-weight: bold;
}

input:hover, textarea:hover{
    border-color: var(--color-pry);
}


    


/**************Media Queries**********/

@media screen and (max-width:1024px) {

    .contact__container{
        grid-template-columns: 1fr;
        gap: 5%;
    }

    .contact__me{
        width: 50vw;
        grid-template-columns: 1fr 1fr;               ;
        gap: 1rem;
        margin: auto;
    }

    .contact__container{
        padding-bottom:2rem;
    }
    
}

@media screen and (max-width:600px){
    .contact__me{
        grid-template-columns:1fr;
        width: 75vw;
    }

}
