.about__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-bottom: 1rem;
}

#about{
    place-content: center;
    margin: 0;
    padding-top: 3rem;
}

.about__img{
    display: flex;
}


.about__img img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: rotate(10deg);
    border-radius: 2rem;
    transition: var(--transition);
}

.about__img img:hover{
    transform: rotate(0);
}

.about__skills-content{
 margin-bottom: .5rem;
}

.about__skills-content .skill-bullet{
    margin-right: 5px;
    padding:3px;
}

a .about__btn {
    width: fit-content;
    display: flex;
    justify-content: center;
}

.skill__icons{
    margin-block: 1.5rem;
    gap: 1.5rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(7, 1fr);
}

.skill__desc{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: wrap;
    gap: 1rem;
    flex-direction: column;
}

.skill__desc small{
    font-size: .7rem;
}

.skill__icon{
    font-size: 3rem;
}


#plant{
    animation: plant 5s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes plant {
    from{
        transform: rotateZ(15deg);
    }
    
    to{
        transform: rotateZ(-15deg);

    }
    
}
#head{
    animation: head 2s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes head {
    from{
        transform: rotateZ(-3deg);
    }
    
    to{
        transform: rotateZ(3deg);

    }
    
}
#eyes{
    animation: eyes 3s alternate infinite;
    transform-origin: top;
    transform-box: fill-box;
}

@keyframes eyes {
    from{
        transform: rotateZ(3deg);
    }
    
    to{
        transform: rotateZ(-3deg);

    }
    
}

#body{
    animation: body 1s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
}

@keyframes body {
    from{
        transform: translateY(1px);
    }
    
    to{
        transform: translateY(-1px);

    }
    
}
#steam{
    animation: steam .8s alternate infinite;
    transform-origin: bottom;
    transform-box: fill-box;
    background-color: red;
}

@keyframes steam {
    0%, 100%{
        transform: translateY(1px);
    }
    
    50%{
        transform: translateY(-1px);

    }
    
}

@keyframes scroll {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-10px);
    }
    
} 

/* *********** media queries********** */


/* Media queries(median screen) */

@media screen and (max-width:1024px) {
   #about{
        height: 100%;
        margin: 0 auto;
    }

    .about__container{
        grid-template-columns: 1fr;
    }

    .about__content{
        width: var(--container-md);
    }

    .about__img{
        width: 18rem;
        height: 18rem;
    }
    
    .about__img img{
        width: 100%;
        height: 18rem;
    }

    .about__img{
        margin-top: -4rem;
    }

}

@media screen and (max-width:600px) {
   #about{
        margin: 0 auto;
        padding-bottom: 3rem;
    }

    .about__content{
        width: var(--container-sm);
    }

    .about__img{
        margin-top: -4rem;
    }

    .skill__icons{
        grid-template-columns: repeat(4, 1fr);
    }

}