.about__container{
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
    align-items: center;
    justify-content: center;
    place-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#about{
    place-content: center;
    margin: 0;
    padding-top: 3rem;
}

.about__img{
    background: linear-gradient(45deg, var(--color-pry),var(--color-white), var(--color-pry));
    width: 22rem;
    height: 22rem;
    border-radius: 2rem;
}

.about__img img{
    width: 22rem;
    height: 22rem;
    overflow: hidden;
    transform: rotate(10deg);
    border-radius: 2rem;
    transition: var(--transition);
}

.about__img img:hover{
    transform: rotate(0);
}

.about__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about__cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    gap: 2%;
    text-align: center;
}

.about__card{
    border-radius: 1rem;
    border: 1px solid var(--color-light);
    background: var(--color-bg-variant);
    padding: 1.5rem;
    transition: var(--transition);
}

.about__card:hover{
    border: 1px solid var(--color-light);
    background-color: transparent;
    transform: translateY(-.5rem);
}

.about__card h5{
    font-size: 1rem;
}

.about__icon{
    color: var(--color-pry);
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

a .about__btn {
    width: fit-content;
    display: flex;
    justify-content: center;
}


/* Media queries(median screen) */

@media screen and (max-width:1024px) {
   #about{
        height: 100%;
        margin: 0 auto;
    }

    .about__container{
        grid-template-columns: 1fr;
    }

    .about__img{
        width: 18rem;
        height: 18rem;
    }
    
    .about__img img{
        width: 100%;
        height: 18rem;
    }

}

@media screen and (max-width:600px) {
   #about{
        margin: 0 auto;
        margin-bottom: 4rem;
    }

    .about__img{
        display: none;
    }

}