.navbar{
    width: 100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    background: var(--color-bg);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    transition: var(--transition);
}


.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.nav__menu{
    display: flex;
    gap: 3rem;
}

.theme__icon{
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
}


nav{
    display: none;
    width: max-content;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(1rem);
    padding: 0.7rem 1.7rem;

    z-index: 2;
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 2.45rem;
    border-radius: 2rem;
}

nav a{
    font-size: 1.4rem;
    display: flex;
    padding: .5rem;
    border-radius: 50%;
    color: var(--color-white);
}

nav a:hover{
    color: var(--color-bg);
}

nav a.active{
    background: var(--color-white);
    color: var(--color-text-dark);
}

@media screen and (max-width:1024px){
    .nav__menu{
        display: none;
    }
}

@media screen and (max-width:600px) {
    nav{
        gap: .5rem;
    }

    .nav__menu{
        display: none;
    }
}