.container .testimonials__container{
    width: 30% !important;
    padding-bottom: 4rem !important;
}

.testimonials{
    background: var(--color-bg-variant);
    width: 40%;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 1rem;
    text-align: center;
}

.testimonials img{
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--color-pry);
    overflow: hidden;
    margin: 0 auto 1rem;
}

.testimonials h5{
    color: var(--color-light);
}

.testimonials small{
    font-size: .8rem;
}