
header{
    width: 100vw;
    overflow: hidden;
    position: relative;
    transition: var(--transition);
    background: linear-gradient(to left, var(--color-bg-variant), var(--color-bg));
}



.header__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 5%;
    align-items: center;
    justify-content: center;
    justify-items: end;
    height: 80vh;
    text-align: center;
    position: relative;
    letter-spacing: 1.2px;
    padding-bottom: 3rem ;
}

.header__container-right h1{
    font-size: 4rem;
    line-height: 1.2;
    align-self: flex-end;
}


.header__img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.CTA{
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 3rem;
}

.header__socials{
    position: absolute;
    bottom: 50%;
    transform:translateY(50%) ;
    left: -3vw;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 0.8rem;
    transition: var(--transition);
}

.header__socials a:hover{
    transform: translateY(-5px);
    color: var(--color-pry);
}


.me{
    margin-top: 2rem;
    width: 20rem;
    height: 20rem;
    max-height: 23rem;
    border: 10px double var(--color-white);
    background-image: url(../../Assets/coding.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
}

.scroll__down{
    position: absolute;
    right: 0;
    bottom: 5rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
    transform: rotate(90deg);
    animation: scroll .5s infinite alternate; 
}

.scroll__down:hover{
    color: var(--color-white);
}


@media screen and (max-width:1024px) {
header{
    height: 80%;
}

.header__socials{
    display:none;
}
    
}

@media screen and (max-width:850px) {
    .header__socials, .scroll__down{
        display: none;
    }

    .header__container{
        padding-top: 2rem;
        height: fit-content;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .me{
        width: 50vw;
        height: 10rem;
        aspect-ratio: 1/1;
    }

    
    .header__img{
        margin-top: 0;
        height: 35vh;
        padding-bottom: 2rem;
    }



}

@media screen and (max-width:390px){
    .header__container{
        height: 76vh;
    }
    
    
}

@media screen and (min-height:1024px){
    .header__container{
        height: fit-content;
    }
}


